SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:postgresql://school-portal-rorfost.k.aivencloud.com:23089/defaultdb?ssl=require&user=avnadmin&password=<PASSWORD>
DB_USERNAME=avnadmin
DB_PASSWORD=<PASSWORD>

DB_POOL_MAX_SIZE=5
DB_POOL_MIN_IDLE=1

FRONTEND_URL=https://portal.dhadhana-school.workers.dev/
CORS_ALLOWED_ORIGINS=https://portal.dhadhana-school.workers.dev/

SESSION_COOKIE_SECURE=true
SESSION_TIMEOUT=8h

LOGIN_MAX_ATTEMPTS=5
LOGIN_ATTEMPT_WINDOW=10m

UPLOAD_MAX_FILE_SIZE=10MB
UPLOAD_MAX_REQUEST_SIZE=12MB

APP_LOG_LEVEL=INFO

IMAGEKIT_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxx
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/xxxxxxxxxxxxx

JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=70
